body{
    background: #618264;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.card{
    background-color: #D0E7D2;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    background-color: #FFF3DA;
    height: 25%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.display input{
    background-color: transparent;
    border: none;
    width: 90%;
    text-align: end;
    font-size: 30px;
    outline: none;
}

.button{
    height: 70%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.tombol-kiri{
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: space-around;    
    align-items: center;
    padding: 10px;
}

.tombol{
    background-color: #D0E7D2;
    box-shadow: inset 4px 4px 9px #fff, 4px 4px 9px rgb(0,0,0,5);
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    color: #545B77;
}

.tombol:hover{
    transform: scale(0.9);
}

.tombol-kanan{
    background-color: pink;
    width: 35%;
    height: 100%;
}
