* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  background-color: wheat;
  width: 20rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
}
.display {
  background-color: white;
  height: 30%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.display input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
  text-align: end;
  font-size: 4rem;
}
.tombol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}
.number {
  width: 65%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.number button {
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  cursor: pointer;
}
.operator button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 55%;
  height: 100%;
  margin: 1.5rem;
  border-radius: 100%;
  padding: 10px;
  border: none;
}
