.calculator {
    width: 60%;
    height: 1%;
    margin: 60px;
    padding: 30px;
    background-color:#dfdddd;
}

.row {
    margin: 3px;
    padding: 6px;
}

.btn {
  margin: 3px;
  font-size: xx-large;
}