body {
    background-color: rgb(96, 115, 146);
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: aliceblue;
    width: 300px;
    height: 600px;
    border-radius: 25px;
    box-shadow: inset 3px 3px 10px rgb(123, 123, 123);
}